<h1><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP </h1>
<h1><%= @game.player_2.name %>: <%= @game.player_2.hp %>HP </h1> 

<h2><%= @game.current_player.name %>'s turn</h2>

<a href="/switch_attack">Attack! </a>