<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h2><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP </h2>
<h2><%= @game.player_2.name %>: <%= @game.player_2.hp %>HP </h2>

<h3><%= @game.current_player.name %>'s turn</h3>

<a href="/attack">Attack</a>

<!-- <input onclick="this.value='Confirm'" type="button" value="Player 1 Attack!" id="myButton1" />
<input onclick="this.value='Confirm'" type="button" value="Player 2 Attack!" id="myButton1" /> -->